@tailwind base;
@tailwind components;
@tailwind utilities;

.color-block {
  &--1, &--4 {
    background-color: cyan;
  }
  &--2, &--5 {
    background-color: pink;
  }
  &--3, &--6 {
    background-color: purple;
  }
}
